# 2.2 IPython Basics

### Running the IPython Shell

In [1]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data # much readable:

{0: -1.0327251052334634,
 1: 1.1149840860303464,
 2: -1.4597752548010274,
 3: -0.7806008104293841,
 4: 0.10100822107325262,
 5: 1.593828853980701,
 6: -0.5748256668892989}

In [2]:
print(data) # much less readable:

{0: -1.0327251052334634, 1: 1.1149840860303464, 2: -1.4597752548010274, 3: -0.7806008104293841, 4: 0.10100822107325262, 5: 1.593828853980701, 6: -0.5748256668892989}

In [3]:
# Or we can write this way

from numpy.random import randn as rdn
data_1 = {i: rdn() for i in range(7)}
data_1

{0: 0.1766200013750673,
 1: 0.5228077717365446,
 2: -0.8027067599968359,
 3: 0.7164642158069138,
 4: -0.8789713975902511,
 5: -0.8313393280409226,
 6: -1.49596348426626}

### Running the Jupyter Notebook

In [4]:
print('Hello World')

Hello World

### Tab Completion

In [5]:
# 1st Case
an_apple = 15
an_example = 20

# Afterwards write 'an' and press the tab button
# It will give previously entered names, i.e. an_apple and an_example, as well as function 'any'

In [6]:
# 2nd Case
b = [1,2,3]

# write 'b.' and press the Tab button. Will show up possible functions that are allowed to list object

In [7]:
# 3th Case
# The same goes for modules
import datetime as dt

# Write 'dt.' and press the Tab button

In [8]:
# 4th Case
# The same works for functions
def function_with_kewords (abra = 1, abbra = 2, abbbra = 3):
    return (abbbra)
function_with_kewords(abbbra=2)

2

### Introspection

In [9]:
b = [1,2,3]

In [10]:
?b # ?- write before/after - gives general info about the object

Object `b # ?- write before/after - gives general info about the object ` not found.

In [11]:
print?

In [12]:
def add_numbers (a,b):
    return a + b

In [13]:
add_numbers(5,6)

11

### The %run command

In [14]:
def f(x,y,z):
    return (x+y)/z

In [15]:
a = 5
b = 6
c = 9

result = f(a,b,c)

In [16]:
# Write '%run' and ' .py file name '

In [17]:
result

1.2222222222222223

# 2.3 Python Language Basics

### Variables and argument passing

In [18]:
# 1st Case
# Creating Reference
a = [1,2,3]

In [19]:
# We assign 'a' to a new variable 'b'
b = a

In [20]:
# In other languages this assignment would cause the data to be copied.
# In Python, a and b actually refer to the same object, the original list [1,2,3]
# By appending the list a, it will cause the list be to be appended
a.append(5)
b

[1, 2, 3, 5]

In [21]:
# 2nd Case
def append_element(some_list, element):
    some_list.append(element)

# If you bind a new object to a variable
# inside a function, that change will not be reflected in the parent scope

In [22]:
data = [1,2,3]
append_element(data,4)
data

[1, 2, 3, 4]

### Dynamic references, strong types

In [23]:
# 3th Case

# In contrast with many compiled languages, such as Java and C++, object references in
# Python have no type associated with them. There is no problem with the following:
a = 5
type(a)

int

In [24]:
a = 'string'
type(a)

str

In [25]:
# 4th Case

# We cannot do like this ''5' + 5': string + ineger = error
# But we can do like this:

a = 4.5
b = 5

print(a+b, a/b)

9.5 0.9

In [26]:
isinstance(b,int)

True

In [27]:
isinstance(a,(int,float))

True

In [28]:
isinstance(b,(int,float))

True

### Attributes and methods

In [29]:
a = 'foo'

In [30]:
getattr(a,'split')

### Duck Typing

In [31]:
# Often you may not care about the type of an object but rather only whether it has
# certain methods or behavior

In [32]:
# This is sometimes called “duck typing,” after the saying
# “If it walks like a duck and quacks like a duck, then it’s a duck.”

# For example, you can
# verify that an object is iterable if it implemented the iterator protocol. For many
# objects, this means it has a __iter__ “magic method,” though an alternative and better
# way to check is to try using the iter function:

In [33]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False
    
# This function would return True for strings as well as most Python collection types:

In [34]:
isiterable('a string')

True

In [35]:
isiterable([1,2,3])

True

In [36]:
isiterable(5)

False

### Binary Operators and Comparisons

In [37]:
5-7

-2

In [38]:
12+21.5

33.5

In [39]:
5 <= 2

False

In [40]:
a = [1,2,3]
b = a

In [41]:
c = list(a)

In [42]:
a is c

False

In [43]:
a is not b

False

In [44]:
# 'is' and '==' are not the same

print(a == c, a is c)

True False

In [45]:
a = 5
b = 6

In [46]:
a/b

0.8333333333333334

In [47]:
a//b # amboxj masn e output talis

0

In [48]:
a**b # Raise a to the b power

15625

In [49]:
a & b

4

### Mutable and Immutable Objects

In [50]:
# Mutable Objects are:     lists, dicts, NumPy Arrays, and most user defined types(classes)
# Immutable Objectsare:    strings, tuples


# Mutable Means:      That the object or values that they contain can be modified.

In [51]:
a_list = ['foo', 4, [4,5]]

In [52]:
a_list[2] = (3,4)

In [53]:
a_list

['foo', 4, (3, 4)]

In [54]:
a_tuple = (3,5,(4,5))

In [55]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [56]:
# Remainder:
# Just because you can mutate an object does not mean that you always
# should. Such actions are known as side effects. For example, when writing a function,
# any side effects should be explicitly communicated to the user in the function’s documentation
# or comments.

### Scalar Types

In [57]:
# Python along with its standard library has a small set of built-in types for handling
# numerical data, strings, boolean (True or False) values, and dates and time. These
# “single value” types are sometimes called scalar types

### Numeric Types

In [58]:
# The primary Python types for numbers are int and float. An int can store arbitrarily
# large numbers:

int_val = 123456
int_val ** 6

3540570200530940541182574329856

In [59]:
float_val = 2.555
float_val2 = 6.78e-5

In [60]:
3/2

1.5

In [61]:
3//2

1

### Strings

In [62]:
a = 'one way of writing string'
b = "another way of writing string"
c = """
this is a longer string that
spans multiple lines
anothet line
one more line
"""
c.count('\n')

5

In [63]:
# Python Strings are immutable

a = 'This is a string'
a[3] = 'f'

TypeError: 'str' object does not support item assignment

In [64]:
# But we can do this way

b = a.replace('string', 'longer string')
print(a, "-----", b)

This is a string ----- This is a longer string

In [65]:
# Many Python objects can be converted to a string using the str function:

a = 5.6
s = str(a)
s

'5.6'

In [66]:
s = 'string to list'
a = list(s)
a

['s', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']

In [67]:
# The syntax s[:3] is called slicing
s[:3]

'str'

In [68]:
# Adding two strings together

a = 'This is the first half'
b = 'and this is the second half'
a + ' ' + b

'This is the first half and this is the second half'

### Booleans

In [69]:
# Boolean values are combined with the 'and' and 'or' keywords:

print(True and True, ',' , True or False)

True , True

In [70]:
s = '3.14159'
fval = float(s)

print(type(fval), ',', int(fval), ',', bool(fval), ',', bool(0))

<class 'float'> , 3 , True , False

### None

In [71]:
# None is the Python null value type. If a function does not explicitly return a value, it
# implicitly returns None:

a = None
a is None

True

In [72]:
b = 5
b is not None

True

In [73]:
# None is also a common default value for function arguments:
def add_and_maybe_multily(a, b, c=None):
    result = a + b + c
    if c is not None:
        result = result * c
    return result

add_and_maybe_multily(5,4,2)

22

In [74]:
type(None)

NoneType

### Control Flow

#### if, elif, else

In [75]:
x = 10

if x < 0:
    print ('hi my friend ^_^')
else:
    print ('again, hi my friend ^_^')

again, hi my friend ^_^

In [76]:
if x < 0:
    print ("it's negative")
elif x == 0:
    print ("it's 0")
elif 0<x<5:
    print ('positive but less than 5')
else:
    print("positive and larger or equal to 5")

positive and larger or equal to 5

In [77]:
# In this example, the comparison c > d never gets evaluated because the first comparison was True.

a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [78]:
# It is also possible to chain comparisons:

4 > 3 > 2 > 1

True

#### for Loops

In [79]:
# Consider this code, which sums up integers in a list and skips None values:

In [80]:
# Continue

sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    if value is None:
        continue
    total += value

total

12

In [81]:
# This code sums elements of the list until a 5 is reached:

In [82]:
# Break

sequence = [1,2,3,4,5,6,0,4]
total_until_5 = 0

for value in sequence:
    if value == 5:
        break
    total_until_5 += value
    
total_until_5

10

In [83]:
# The break keyword only terminates the innermost for loop; any outer for loops will continue to run:

In [84]:
for i in range(4):
    for j in range(4):
        if j>=i:
            break
        print((i,j))

(1, 0)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(3, 2)

#### while loops

In [85]:
# A while loop specifies a condition and a block of code that is to be executed until the
# condition evaluates to False or the loop is explicitly ended with break:

In [86]:
x = 256
total = 0

while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
    
total

504

#### pass

In [87]:
# pass is the “no-op” statement in Python. It can be used in blocks where no action is to be taken

In [88]:
if x < 0:
    print('negative')
elif x == 0:
    pass
else:
    print('positive')

positive

#### range

In [89]:
# The range function returns an iterator that yields a sequence of evenly spaced integers:

In [91]:
range(10)

range(0, 10)

In [92]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
# Start, End, and Step (which may be negative) can be given:

In [96]:
range(0,20,3)
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

In [97]:
list(range(5,-5,-1))

# Range produces integers up to but not including the endpoint.

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

In [98]:
# A common use of range is for iterating through sequences by index:

In [100]:
seq = [1,2,3,4,5,6,7]
val = []
for i in range(len(seq)):
    val.append(i)
val

[0, 1, 2, 3, 4, 5, 6]

In [105]:
seq_1 = [1,2,3,4,5,6,7]
for i in range(len(seq_1)):
    val_1 = seq_1[i]
    
val_1

7

In [106]:
# While you can use functions like list to store all the integers generated by range in
# some other data structure, often the default iterator form will be what you want. This
# snippet sums all numbers from 0 to 99,999 that are multiples of 3 or 5:

In [114]:
sum = 0
for i in range(100000):
    if i%3 == 0 or i%5 == 0:
        sum += i  
sum

2333316668

#### Ternary Expressions

In [115]:
# A ternary expression in Python allows you to combine an if-else block that produces
# a value into a single line or expression. The syntax for this in Python is:

# value = true-expr if condition else false-expr

In [116]:
x = 5

'Non-negative' if x >= 0 else 'Negative'

'Non-negative'